## Projet Pollution

In [4]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose

In [5]:
Paris = pd.read_csv('paris-air-quality.csv')
Berlin = pd.read_csv('berlin,-germany-air-quality.csv')
Vienne = pd.read_csv('vienne - wiener-straße 233, straßenbahnstation neue welt, austria-air-quality.csv')
Vilvoorde = pd.read_csv('vilvoorde,-belgium-air-quality.csv')
Copenhague = pd.read_csv('h.c.andersens-boulevard, copenhagen, denmark-air-quality.csv')
Madrid = pd.read_csv('valdemoro,-madrid, spain-air-quality.csv')
Rome = pd.read_csv('roma,-prato, italy-air-quality.csv')
Oslo = pd.read_csv('smestad,-oslo, norway-air-quality.csv')
Amsterdam = pd.read_csv('amsterdam-air-quality.csv')
Lisbonne = pd.read_csv('entrecampos,-lisboa, portugal-air-quality.csv')
Londres = pd.read_csv('london-air-quality.csv')
Zurich = pd.read_csv('zurich-kaserne, switzerland-air-quality.csv')

In [6]:
Copenhague

            date  pm25  pm10   o3  no2  so2  co
0      2020/10/1    45    59   23   11        2
1      2020/10/2    71    31   21    6        2
2      2020/10/3    58    10   21    8        1
3      2020/10/4    20    20   21   18        2
4      2020/10/5    33    13   15   13        1
...          ...   ...   ...  ...  ...  ...  ..
2115  2014/12/25                7   27        3
2116  2014/12/26                8   25    1   3
2117  2014/12/27               13   24        3
2118   2015/9/25                    21
2119   2015/9/26                    20

[2120 rows x 7 columns]

In [ ]:
Paris = Paris.drop([' pm25',' so2', ' co'], axis=1)
Paris[' pm10'] = pd.to_numeric(Paris[' pm10'],errors='coerce')
Paris[' o3'] = pd.to_numeric(Paris[' o3'],errors='coerce')
Paris[' no2'] = pd.to_numeric(Paris[' no2'],errors='coerce')
Paris['date'] = pd.to_datetime(Paris['date'])
Paris = Paris.sort_values('date')
Paris = Paris.dropna(axis=0)

#Paris.columns

In [ ]:
Paris[[' pm10', ' o3', ' no2']].plot.hist()

In [ ]:
Paris_2018 = Paris[Paris['date'].isin(pd.date_range('2018-03-01', '2018-05-31'))]
Paris_2019 = Paris[Paris['date'].isin(pd.date_range('2019-03-01', '2019-05-31'))]
Paris_2020 = Paris[Paris["date"].isin(pd.date_range('2020-03-01', '2020-05-31'))]

In [ ]:
Paris_2020.mean()

In [ ]:
Paris_result = Paris_2018.mean() - Paris_2019.mean()
Paris_result

In [ ]:
Berlin[' pm10'] = pd.to_numeric(Berlin[' pm10'],errors='coerce')
Berlin[' o3'] = pd.to_numeric(Berlin[' o3'],errors='coerce')
Berlin[' no2'] = pd.to_numeric(Berlin[' no2'],errors='coerce')
Berlin['date'] = pd.to_datetime(Berlin['date'])
Berlin = Berlin.sort_values('date')
Berlin = Berlin.dropna(axis=0)

In [ ]:
Berlin.plot.line()

In [ ]:
Berlin_2018 = Berlin[Berlin['date'].isin(pd.date_range('2018-03-01', '2018-05-31'))]
Berlin_2019 = Berlin[Berlin['date'].isin(pd.date_range('2019-03-01', '2019-05-31'))]
Berlin_2020 = Berlin[Berlin["date"].isin(pd.date_range('2020-03-1', '2020-05-31'))]

In [ ]:
Berlin_2020.mean()

In [ ]:
Berlin_2018_2019 = Berlin_2018.mean() - Berlin_2019.mean()
Berlin_result = Berlin_2019.mean() - Berlin_2020.mean()

In [ ]:
Berlin_2018_2019

In [ ]:
Berlin_result

In [ ]:
Berlin_2018 = Berlin_2018.set_index('date')
Berlin_2018 = Berlin_2018.sort_index()
Berlin_2018 = Berlin_2018.dropna(axis=0)

In [ ]:
Berlin_2019 = Berlin_2019.set_index('date')
Berlin_2019 = Berlin_2019.sort_index()
Berlin_2019 = Berlin_2019.dropna(axis=0)

In [ ]:
Berlin_2020 = Berlin_2020.set_index('date')
Berlin_2020 = Berlin_2020.sort_index()
Berlin_2020 = Berlin_2020.dropna(axis=0)

In [ ]:
Berlin[[' pm10', ' o3', ' no2']].plot.hist()

In [ ]:
result_add_pm10_2018 = seasonal_decompose(Berlin_2018[' pm10'], model='additive', period = 7)
result_add_o3_2018 = seasonal_decompose(Berlin_2018[' o3'], model='additive', period = 7)
result_add_no2_2018 = seasonal_decompose(Berlin_2018[' no2'], model='additive', period = 7)
result_add_pm10_2020 = seasonal_decompose(Berlin_2020[' pm10'], model='additive', period = 7)
result_add_o3_2020 = seasonal_decompose(Berlin_2020[' o3'], model='additive', period = 7)
result_add_no2_2020 = seasonal_decompose(Berlin_2020[' no2'], model='additive', period = 7)
result_add_pm10_2019 = seasonal_decompose(Berlin_2019[' pm10'], model='additive', period = 7)
result_add_o3_2019 = seasonal_decompose(Berlin_2019[' o3'], model='additive', period = 7)
result_add_no2_2019 = seasonal_decompose(Berlin_2019[' no2'], model='additive', period = 7)

In [ ]:
plt.rcParams.update({'figure.figsize': (16,5)})
result_add_o3_2018.trend.plot()
plt.show()
result_add_o3_2019.trend.plot()
plt.show()
result_add_o3_2020.trend.plot()


#result_add_o3_2019.trend.plot()
#result_add_o3_2020.trend.plot()
#result_add_no2_2019.trend.plot()
#result_add_no2_2020.trend.plot()

In [ ]:
result_add_pm10.trend.isna().value_counts()

In [ ]:
Vienne[' pm25'] = pd.to_numeric(Vienne[' pm25'],errors='coerce')
Vienne[' pm10'] = pd.to_numeric(Vienne[' pm10'],errors='coerce')
Vienne[' no2'] = pd.to_numeric(Vienne[' no2'],errors='coerce')
Vienne[' so2'] = pd.to_numeric(Vienne[' so2'],errors='coerce')
Vienne[' co'] = pd.to_numeric(Vienne[' co'],errors='coerce')
mask_v = (Vienne['date'] >= "2019/1/1") & (Vienne['date'] <= "2020/10/5")
Vienne=Vienne.loc[mask_v]
Vienne.isna().sum()
#Vienne.columns

In [ ]:
Vilvoorde[' pm25'] = pd.to_numeric(Vilvoorde[' pm25'],errors='coerce')
Vilvoorde[' pm10'] = pd.to_numeric(Vilvoorde[' pm10'],errors='coerce')
Vilvoorde[' no2'] = pd.to_numeric(Vilvoorde[' no2'],errors='coerce')
Vilvoorde[' so2'] = pd.to_numeric(Vilvoorde[' so2'],errors='coerce')
Vilvoorde[' co'] = pd.to_numeric(Vilvoorde[' co'],errors='coerce')
mask_vi = (Vilvoorde['date'] >= "2019/1/1") & (Vilvoorde['date'] <= "2020/10/5")
Vilvoorde=Vilvoorde.loc[mask_vi]
Vilvoorde.isna().sum()
#Vilvoorde.columns

In [ ]:
Copenhague[' pm25'] = pd.to_numeric(Copenhague[' pm25'],errors='coerce')
Copenhague[' pm10'] = pd.to_numeric(Copenhague[' pm10'],errors='coerce')
Copenhague[' o3'] = pd.to_numeric(Copenhague[' o3'],errors='coerce')
Copenhague[' no2'] = pd.to_numeric(Copenhague[' no2'],errors='coerce')
Copenhague[' so2'] = pd.to_numeric(Copenhague[' so2'],errors='coerce')
Copenhague[' co'] = pd.to_numeric(Copenhague[' co'],errors='coerce')
mask_c = (Copenhague['date'] >= "2019/1/1") & (Copenhague['date'] <= "2020/10/5")
Copenhague=Copenhague.loc[mask_c]
Copenhague.isnull().sum()
#Copenhague.columns

In [ ]:
Madrid[' pm25'] = pd.to_numeric(Madrid[' pm25'],errors='coerce')
Madrid[' pm10'] = pd.to_numeric(Madrid[' pm10'],errors='coerce')
Madrid[' o3'] = pd.to_numeric(Madrid[' o3'],errors='coerce')
Madrid[' no2'] = pd.to_numeric(Madrid[' no2'],errors='coerce')
Madrid[' so2'] = pd.to_numeric(Madrid[' so2'],errors='coerce')
Madrid[' co'] = pd.to_numeric(Madrid[' co'],errors='coerce')

Madrid.isna().sum()
#Madrid.head()

In [ ]:
Rome = Rome.drop([' pm25',' so2', ' co'], axis=1)
Rome[' pm10'] = pd.to_numeric(Rome[' pm10'],errors='coerce')
Rome[' o3'] = pd.to_numeric(Rome[' o3'],errors='coerce')
Rome[' no2'] = pd.to_numeric(Rome[' no2'],errors='coerce')
Rome['date'] = pd.to_datetime(Rome['date'])
Rome = Rome.sort_values('date')
Rome = Rome.dropna(axis=0)

#Rome.columns

In [ ]:
Rome_2018 = Rome[Rome['date'].isin(pd.date_range('2018-03-01', '2018-05-31'))]
Rome_2019 = Rome[Rome['date'].isin(pd.date_range('2019-03-01', '2019-05-31'))]
Rome_2020 = Rome[Rome["date"].isin(pd.date_range('2020-03-1', '2020-05-31'))]

In [ ]:
Rome_2018 = Rome_2018.set_index('date')
Rome_2018 = Rome_2018.sort_index()
Rome_2018 = Rome_2018.dropna(axis=0)

In [ ]:
Rome_2019 = Rome_2019.set_index('date')
Rome_2019 = Rome_2019.sort_index()
Rome_2019 = Rome_2019.dropna(axis=0)

In [ ]:
Rome_2020 = Rome_2020.set_index('date')
Rome_2020 = Rome_2020.sort_index()
Rome_2020 = Rome_2020.dropna(axis=0)

In [ ]:
Rome_20

In [ ]:
Oslo[' pm25'] = pd.to_numeric(Oslo[' pm25'],errors='coerce')
Oslo[' pm10'] = pd.to_numeric(Oslo[' pm10'],errors='coerce')
Oslo[' o3'] = pd.to_numeric(Oslo[' o3'],errors='coerce')
Oslo[' no2'] = pd.to_numeric(Oslo[' no2'],errors='coerce')
Oslo[' so2'] = pd.to_numeric(Oslo[' so2'],errors='coerce')
Oslo[' co'] = pd.to_numeric(Oslo[' co'],errors='coerce')
mask_o = (Oslo['date'] >= "2019/1/1") & (Oslo['date'] <= "2020/10/5")
Oslo=Oslo.loc[mask_o]
Oslo.isnull().sum()
#Oslo.columns

In [ ]:
Amsterdam[' pm25'] = pd.to_numeric(Amsterdam[' pm25'],errors='coerce')
Amsterdam[' pm10'] = pd.to_numeric(Amsterdam[' pm10'],errors='coerce')
Amsterdam[' o3'] = pd.to_numeric(Amsterdam[' o3'],errors='coerce')
Amsterdam[' no2'] = pd.to_numeric(Amsterdam[' no2'],errors='coerce')
Amsterdam[' so2'] = pd.to_numeric(Amsterdam[' so2'],errors='coerce')
Amsterdam[' co'] = pd.to_numeric(Amsterdam[' co'],errors='coerce')
mask_a = (Amsterdam['date'] >= "2019/1/1") & (Amsterdam['date'] <= "2020/10/5")
Amsterdam=Amsterdam.loc[mask_a]
Amsterdam.isnull().sum()
#Amsterdam.columns

In [ ]:
Lisbonne = Lisbonne.drop([' pm25',' so2'], axis=1)
Lisbonne[' pm10'] = pd.to_numeric(Lisbonne[' pm10'],errors='coerce')
Lisbonne[' o3'] = pd.to_numeric(Lisbonne[' o3'],errors='coerce')
Lisbonne[' no2'] = pd.to_numeric(Lisbonne[' no2'],errors='coerce')
Lisbonne = Lisbonne.sort_values('date')
Lisbonne = Lisbonne.dropna(axis=0)
#Lisbonne.columns

In [ ]:
Lisbonne[[' pm10', ' o3', ' no2']].plot.hist()

In [ ]:
Lisbonne_2018 = Lisbonne[Lisbonne['date'].isin(pd.date_range('2018-03-01', '2018-05-31'))]
Lisbonne_2019 = Lisbonne[Lisbonne['date'].isin(pd.date_range('2019-03-01', '2019-05-31'))]
Lisbonne_2020 = Lisbonne[Lisbonne["date"].isin(pd.date_range('2020-03-1', '2020-05-31'))]

In [ ]:
Lisbonne_2018 = Lisbonne_2018.set_index('date')
Lisbonne_2018 = Lisbonne_2018.sort_index()
Lisbonne_2018 = Lisbonne_2018.dropna(axis=0)
Lisbonne_2019 = Lisbonne_2019.set_index('date')
Lisbonne_2019 = Lisbonne_2019.sort_index()
Lisbonne_2019 = Lisbonne_2019.dropna(axis=0)
Lisbonne_2020 = Lisbonne_2020.set_index('date')
Lisbonne_2020 = Lisbonne_2020.sort_index()
Lisbonne_2020 = Lisbonne_2020.dropna(axis=0)

In [ ]:
Lisbonne_2020.mean()

In [ ]:
Londres = Londres.drop([' pm25',' so2',' co'], axis=1)

Londres[' pm10'] = pd.to_numeric(Londres[' pm10'],errors='coerce')
Londres[' o3'] = pd.to_numeric(Londres[' o3'],errors='coerce')
Londres[' no2'] = pd.to_numeric(Londres[' no2'],errors='coerce')
Londres['date'] = pd.to_datetime(Londres['date'])
Londres.isnull().sum()
#Londres.columns

In [ ]:
Londres[[' pm10', ' o3', ' no2']].plot.hist()

In [ ]:
Londres_2018 = Londres[Londres['date'].isin(pd.date_range('2018-03-01', '2018-05-31'))]
Londres_2019 = Londres[Londres['date'].isin(pd.date_range('2019-03-01', '2019-05-31'))]
Londres_2020 = Londres[Londres["date"].isin(pd.date_range('2020-03-1', '2020-05-31'))]

In [ ]:
Londres_2018 = Londres_2018.set_index('date')
Londres_2018 = Londres_2018.sort_index()
Londres_2018 = Londres_2018.dropna(axis=0)
Londres_2019 = Londres_2019.set_index('date')
Londres_2019 = Londres_2019.sort_index()
Londres_2019 = Londres_2019.dropna(axis=0)
Londres_2020 = Londres_2020.set_index('date')
Londres_2020 = Londres_2020.sort_index()
Londres_2020 = Londres_2020.dropna(axis=0)

In [ ]:
Londres_2020.mean()

In [ ]:
Zurich[' pm25'] = pd.to_numeric(Zurich[' pm25'],errors='coerce')
Zurich[' pm10'] = pd.to_numeric(Zurich[' pm10'],errors='coerce')
Zurich[' o3'] = pd.to_numeric(Zurich[' o3'],errors='coerce')
Zurich[' no2'] = pd.to_numeric(Zurich[' no2'],errors='coerce')
Zurich[' so2'] = pd.to_numeric(Zurich[' so2'],errors='coerce')
mask_z = (Zurich['date'] >= "2019/1/1") & (Zurich['date'] <= "2020/10/5")
Zurich=Zurich.loc[mask_z]
Zurich.isnull().sum()
#Zurich.columns

In [ ]:
Zurich.info